
.container1{
    display: flex;
    flex-direction: column;
    background-color: rgb(70, 180, 70);
    width: 40vw;
    /* height: 450px; */
    border-radius: 5px;
    align-items: center;
    gap: 50px;
}

.btnn{
    background-color: white;
    opacity: 60%;
    border: 0;
    padding: 13px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.btnn:hover{
    opacity: 100%;
}

.RandomName{
    margin-top: 15px;
}